<a href="https://colab.research.google.com/github/nityachandna/PW/blob/main/16Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Q1. What is a Database? Differentiate between SQL and NoSQL Databases.
Database: A database is an organized collection of structured information or data, typically stored electronically in a computer system.
Databases are managed by Database Management Systems (DBMS), which allow for efficient data storage, retrieval, and manipulation.

SQL vs. NoSQL Databases:

SQL Databases:

Structure: Relational databases that use structured query language (SQL) for defining and manipulating data.
Schema: Fixed schema (tables with rows and columns) and strong data integrity.
ACID Compliance: Supports ACID (Atomicity, Consistency, Isolation, Durability) properties for transactions.
Examples: MySQL, PostgreSQL, SQLite, Oracle.
Use Case: Suitable for applications requiring complex queries, joins, and transactions, such as financial systems and ERP systems.

NoSQL Databases:

Structure: Non-relational databases that use various data models like document, key-value, column-family, or graph.
Schema: Flexible schema or schema-less, allowing for dynamic changes in data structure.
Scalability: Designed for horizontal scaling and handling large volumes of data.
Examples: MongoDB, Cassandra, Redis, Neo4j.
Use Case: Suitable for applications with large-scale data, unstructured data, or rapid development requirements, such as social networks or real-time analytics.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL (Data Definition Language): DDL is a subset of SQL used to define and manage database structures, such as tables and schemas.

CREATE: Used to create new database objects like tables, indexes, or views.
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(100),
    Position VARCHAR(50)
);

DROP: Used to delete database objects such as tables or indexes.
DROP TABLE Employees;

ALTER: Used to modify existing database objects, such as adding or deleting columns.
ALTER TABLE Employees
ADD Salary DECIMAL(10, 2);

TRUNCATE: Used to remove all rows from a table, but the table structure remains. It is faster than DELETE because it does not log individual row deletions.
TRUNCATE TABLE Employees;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML (Data Manipulation Language): DML is a subset of SQL used for managing data within existing database objects.

INSERT: Used to add new records to a table.
INSERT INTO Employees (EmployeeID, Name, Position)
VALUES (1, 'John Doe', 'Software Engineer');

UPDATE: Used to modify existing records in a table.
UPDATE Employees
SET Position = 'Senior Software Engineer'
WHERE EmployeeID = 1;

DELETE: Used to remove existing records from a table.
DELETE FROM Employees
WHERE EmployeeID = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
DQL (Data Query Language): DQL is a subset of SQL used for querying and retrieving data from a database.

SELECT: Used to retrieve data from one or more tables.
SELECT Name, Position
FROM Employees
WHERE EmployeeID = 1;

The SELECT statement retrieves the Name and Position columns from the Employees table where the EmployeeID is 1.

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Primary Key:

Definition: A primary key is a unique identifier for a record in a table. It ensures that each record is uniquely identifiable and cannot be NULL.
Example: In the Employees table, EmployeeID can be a primary key because it uniquely identifies each employee.
Foreign Key:

Definition: A foreign key is a column or set of columns in one table that refers to the primary key of another table. It establishes a link between the two tables.
Example: In an Orders table, EmployeeID might be a foreign key that references the EmployeeID in the Employees table.

In [ ]:
Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.
To connect MySQL to Python, you can use the mysql-connector-python library.

In [ ]:
# Python code:
import mysql.connector

# Establishing a connection to the database
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    database='testdb'
)

# Creating a cursor object
cursor = conn.cursor()

# Executing a query
cursor.execute("SELECT * FROM Employees")

# Fetching results
for row in cursor.fetchall():
    print(row)

# Closing the cursor and connection
cursor.close()
conn.close()

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
The typical order of execution of SQL clauses is:

FROM: Specifies the tables to retrieve data from.
JOIN: Joins tables based on specified conditions.
WHERE: Filters records based on conditions.
GROUP BY: Groups records that have the same values in specified columns.
HAVING: Filters groups based on conditions.
SELECT: Specifies the columns to retrieve.
ORDER BY: Sorts the result set based on specified columns.
LIMIT: Limits the number of rows returned.

In [ ]:
# Example:
SELECT column1, column2
FROM table1
JOIN table2 ON table1.id = table2.id
WHERE condition
GROUP BY column1
HAVING condition
ORDER BY column1
LIMIT 10;