<a href="https://colab.research.google.com/github/nityachandna/PW/blob/main/22Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Q1
import pandas as pd

# Create a Pandas Series with the specified data
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2
import pandas as pd

# Create a list with 10 elements
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a Pandas Series from the list
series_from_list = pd.Series(data_list)

# Print the Series
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# Q3
import pandas as pd

# Create a DataFrame with some sample data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27]
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

In [ ]:
# Q4
DataFrame:
A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).
It can be thought of as a table or a spreadsheet with rows and columns.

Series:
A Series is a one-dimensional, labeled array capable of holding any data type (integers, strings, floating-point numbers, etc.).
It is essentially a single column of a DataFrame.

In [4]:
# EXAMPLE:
import pandas as pd

# Create a Series
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])

# Create a DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

print("Series:")
print(s)

print("\nDataFrame:")
print(df)

Series:
a    1
b    2
c    3
dtype: int64

DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

In [ ]:
# Q5
head(): Returns the first n rows of the DataFrame.
tail(): Returns the last n rows of the DataFrame.
describe(): Provides summary statistics of numeric columns.
groupby(): Groups data by certain columns and applies aggregation functions.
drop(): Removes specified labels from rows or columns.

In [ ]:
# Q6
Mutable means that the object can be changed after it is created.

Series: Mutable. You can modify the values or index.
DataFrame: Mutable. You can add, remove, or modify columns and rows.
Panel: Mutable. (Note: Panels are deprecated as of Pandas 1.0.0 and were generally used for 3D data.)

In [5]:
# Q7
import pandas as pd

# Create multiple Series
names = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
ages = pd.Series([25, 30, 27], name='Age')

# Create a DataFrame using these Series
df = pd.concat([names, ages], axis=1)

# Print the DataFrame
print(df)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27