<a href="https://colab.research.google.com/github/nityachandna/PW/blob/main/4Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Q1)
# Given list of tuples
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sort the list of tuples based on the integer value using a lambda function
sorted_players = sorted(players, key=lambda x: x[1], reverse=True)

# Print the sorted list
print(sorted_players)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
# Q2)
# Given list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use lambda and map to find the squares of all numbers
squares = list(map(lambda x: x ** 2, numbers))

# Print the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
# Q3)
# Given list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use lambda and map to convert integers to strings
string_tuple = tuple(map(lambda x: str(x), numbers))

# Print the tuple of strings
print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
# Q4)
from functools import reduce

# List of numbers from 1 to 25
numbers = list(range(1, 26))

# Use reduce to compute the product
product = reduce(lambda x, y: x * y, numbers)

# Print the product
print(product)

15511210043330985984000000

In [5]:
# Q5)
# Given list of numbers
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Use filter and lambda to find numbers divisible by both 2 and 3
divisible_by_2_and_3 = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

# Print the filtered list
print(divisible_by_2_and_3)

[6, 60, 90, 120]

In [6]:
# Q6)
# Given list of strings
strings = ['python', 'php', 'aba', 'radar', 'level']

# Use filter and lambda to find palindromes
palindromes = list(filter(lambda s: s == s[::-1], strings))

# Print the list of palindromes
print(palindromes)

['php', 'aba', 'radar', 'level']